.navbar {
    position: relative;
    background-color: black;
    width: 1925px;
    height: 80px;
    color: white;
    border: black solid 1px;
    left: -15px;
    top: -10px;
}

.navbar1 {
    margin-left: 390px;
    /* border: 2px solid white; */
    width: 1170px;
    height: 80px;
    margin-top: 20px;
}

#uul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
}

.navflow {
    border: red 1px solid;
}

.navbar1content {
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
    position: relative;
    color: white;
    background-color: black;
    margin-left: 600px;
    margin-top: -50px;
    text-align: center;
    font-size: 20px;
}

.brand {
    height: 40px;
    width: 132px;
    color: white;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    color: green;
}

.purplecontent {
    background-color: #933193;
    border: 1px solid #933193;
    height: 635px;
    width: 1916px;
    position: relative;
    /* margin-top: 75px; */
    margin-left: -8px;
    top: -10px;
    margin-right: -10px;
}

.bluecontent {
    border: 1px #2941ab solid;
    background-color: #2941ab;
    height: 635px;
    width: 1916px;
    position: relative;
    margin-top: -10px;
    margin-left: -8px;
}

.blackcontent {
    background-color: black;
    position: relative;
    width: 1920px;
    height: 532px;
    margin-top: -1px;
    left: -10px;
}

.semiright {
    position: relative;
    color: rebeccapurple;
    background-color: #1ed760;
    height: 1000px;
    width: 1000px;
    /* border-bottom-left-radius: 50%; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* border-bottom-right-radius: 50%; */
    left: 1016px;
    margin-top: 430px;
    transform: rotate(360deg);
}